<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tec.musicbeansapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".gui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".gui.LoginActivity" />
        <activity android:name=".gui.Band.BandHomeActivity" />
        <activity android:name=".gui.Admin.AdminHomeActivity" />
        <activity android:name=".gui.Client.ClientHomeActivity" />
        <activity android:name=".gui.SignUpActivity" />
        <activity android:name=".gui.Admin.ManageAccountsActivity" />
        <activity android:name=".gui.Admin.Accounts.BandAccountListActivity" />
        <activity android:name=".gui.Admin.Accounts.DeleteBandActivity" />
        <activity android:name=".gui.Admin.Accounts.CreateBandActivity" />
        <activity android:name=".gui.Admin.Accounts.ClientAccountListActivity" />
        <activity android:name=".gui.Admin.Accounts.DeleteClientAccountActivity" />
        <activity android:name=".gui.Admin.NewsListActivity" />
        <activity android:name=".gui.Admin.News.CreateNewsActivity" />
        <activity android:name=".gui.Client.SearchBandActivity" />
        <activity android:name=".gui.Client.ClientNewsActivity" />
        <activity android:name=".gui.Admin.News.DeleteNewsActivity"></activity>
    </application>

</manifest>